@media screen and (max-width: 768px) {
    /* theme-vars */
    :root {
        --gap: 14px;
    }

    /* profile-mode */
    .profile img {
        transform: scale(0.85);
    }

    /* post-entry */
    .first-entry {
        min-height: 260px;
    }

    .post-entry.has-cover {
        display: block;
    }

    .post-entry.has-cover .entry-cover {
        margin-bottom: var(--gap);
    }

    .home-info .home-info-inner,
    .home-info .home-info-inner.has-avatar {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap);
    }

    .home-info .home-info-avatar {
        order: -1;
    }

    /* archive */
    .archive-month {
        flex-direction: column;
    }

    .archive-year {
        margin-top: 20px;
    }

    /* footer */
    .footer {
        padding: calc((var(--footer-height) - var(--gap) - 10px) / 2) var(--gap);
    }
}

/* footer */
@media screen and (max-width: 900px) {
    .list .top-link {
        transform: translateY(-5rem);
    }
}

@media screen and (max-width: 340px) {
    .share-buttons {
        justify-content: unset;
    }
}

@media (prefers-reduced-motion) {
    /* terms; profile-mode; post-single; post-entry; post-entry; search; search */
    .terms-tags a:active,
    .button:active,
    .post-entry:active,
    .top-link,
    .searchResults .focus,
    .searchResults li:active {
        transform: none;
    }
}
